<footer class="container-fluid my-2 text-white-50">
    <div class="container-fluid">
        <a class="footer-icon fab fa-twitter" href="https://twitter.com/laincubator?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"></a>
        <a class="footer-icon fab fa-facebook-f"href="https://www.facebook.com/LACIncubator/" target="_blank"></a>
        <a class="footer-icon fab fa-instagram" href="https://www.instagram.com/explore/locations/3945073/los-angeles-cleantech-incubator/?hl=en" target="_blank" ></a>
        <p>©Copyright LACI-2021 </p>
    </div>
</footer>