<% layout("./layouts/boilerplate") %> 

<div class="white-section px-12 mt-3 mb-3" id="city">
    <div class="row ">
        <%places.forEach(place=> {%>
            <div class="city-col col-lg-4 col-md-6 mb-8">
                <div class="card">
                    <img class="card-img-top" src="<%=place.image[0].url%>" alt="image cap">
                    <div class="card-body">
                        <h5 class="card-title text-black-50 text-center">
                            <strong>
                                <%=place.name%>, <%=place.country%>
                            </strong>
                        </h5>
                        <a href="places/<%=place._id%>" class="btn btn-dark btn-lg w-full inline-block transition duration-500 pulse bg-black-600 hover:bg-green-600 transform hover:-translate-y-1
                        hover:scale-100">See More</a>
                    </div>
                </div>
            </div>
            <% });%>
    </div>
</div>
