<% layout("./layouts/boilerplate") %>

<h1 class="text-center text-3xl mt-3">Add A New City</h1>
<div class="login-form col-6 offset-3 text-left max-w-md mx-auto">
    <!-- This enctype attribute let's us upload files with the input type of file -->
    <form class="needs-validation" action="/places" method="POST" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label text-black-50" for="name">City</label>
            <input class="form-control" type="text" id="name" name="place[name]" required>
        </div>
        <div class="mb-3">
            <label class="form-label text-black-50" for="country">Country</label>
            <input class="form-control"  type="text" id="country" name="place[country]" required>
        </div>
        <div class="mb-3">
            <label class="form-label text-black-50" for="description">Description</label>
            <input class="form-control"  type="text" id="description" name="place[description]" required>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label text-black-50"> Images</label>
            <input class="form-control" type="file" id="formFile" name="image" multiple>
        </div>
        <div class="mb-3">
            <button class="btn btn-dark  btn-lg inline-block  w-full transition duration-500 ease-out-in bg-black-600 hover:bg-green-600 transform hover:-translate-y-1 hover:scale-90 py-3 px-6 my-12 ">Submit</button>
        </div>
    </form>
</div>