<% layout("./layouts/boilerplate") %>
<div class=" max-w-md mx-auto">
    <h1 class="text-3xl text-center my-12">Login</h1>
    <form action="/login" class="needs-validation " method="POST" novalidate>
        <div class="mb-3">
            <label class="form-label text-black-50 text-2xl" for="username">Username</label>
            <input class="form-control py-3 px-4 text-black-50" type="text" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label class="form-label text-black-50 text-2xl" for="password">Password</label>
            <input class="form-control mt-2 py-3 px-4 text-black-50"  type="password" id="password" name="password" required>
        </div>
        <button class="btn btn-dark  btn-lg inline-block  w-full transition duration-500 ease-out-in bg-black-600 hover:bg-green-600 transform hover:-translate-y-1 hover:scale-90 py-3 px-6 my-12 " >Login</button>
    </form>
</div>